@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
.hachi-maru-pop-regular {
  font-family: "Hachi Maru Pop", cursive;
  font-weight: 400;
  font-style: normal;
}

header p {
  background-color: rgba(173, 140, 42, 0.4);
  background-transparency: 70%;
  width: 100%;
  background-size: 1000px;
  background-attachment: fixed;
}

header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 2px 2px 1px 1px #b2b2b2;
  display: block; /* Превращает изображение в блочный элемент */
  margin-left: auto; /* Выравнивает по центру */
  margin-right: auto; /* Выравнивает по центру */
}

#head h1 {
  font-family: "Hachi Maru Pop", cursive;
  padding-left: 600px;
  margin: 0px 0px;
  font-size: 50px;
  color: white;
}

#info p {
  padding-left: 300px;
  font-family: "Hachi Maru Pop", cursive;
  color: white;
}

body {
  background-image: url('./videos/nightcity.gif');
   background-size: cover;
   background-attachment: fixed;
}

#links {
  padding-left: 500px;
  font-size: 35px;
  margin: 0px 150px;
  font-family: "Hachi Maru Pop", cursive;
}

#links a {
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: underline;
}
