@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
.hachi-maru-pop-regular {
  font-family: "Hachi Maru Pop", cursive;
  font-weight: 400;
  font-style: normal;
}


header div {
    animation: fromTop .7s .2s backwards;
}

header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 2px 2px 1px 1px #b2b2b2;
  display: block; /* Превращает изображение в блочный элемент */
  margin-left: auto; /* Выравнивает по центру */
  margin-right: auto; /* Выравнивает по центру */
}

header img:hover {
	transform: scale(1.2);
	opacity: 0.8;
}


#head h1 {
  font-family: "Hachi Maru Pop", cursive;
  display: block;
  text-align: center;
  padding-top: 12px;
  color: white;
  letter-spacing: 3px;
  animation: fadeIn .7s .2s backwards;
  animation-delay: .2s;
}

#info p {
  padding-left: 300px;
  font-family: "Hachi Maru Pop", cursive;
  color: white;
  animation: fadeIn .7s .2s backwards;
  animation-delay: .4s;
}

body {
  background-image: url('./videos/nightcity.gif');
   background-size: cover;
   background-attachment: fixed;
}

#links {
  padding-left: 200px;
  padding-right: 200px;
  font-size: 20px;
  margin: 0px 150px;
  font-family: "Hachi Maru Pop", cursive;
  animation: fadeIn .7s .2s backwards;
  animation-delay: .6s;
}

#links a {
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: none;
}

/* footer a {
	text-decoration: underline;
}
*/
.stream_buttons {
    display: flex;
    justfy-content: space-between;
    background-color: #F9F6EE;
    border-radius: 8px;
    padding: 6px;
    margin: 6px;

    border: 1px solid #E5E7EB;
    box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 0%);
}

/*footer p{
	color: white;
	padding-top: 200px;
	padding-left: 400px;
} */
footer {
	padding-top: 300px;
	text-align: center;
    font-size: 10px;
    color: white;
    letter-spacing: 1px;
	animation: fadeIn .7s .2s backwards;
    animation-delay: .9s;
}

footer a {
    font-family: 'Pacifico', normal;    
    padding-top: 1px;
    text-align: center;
    font-size: 15px;
    color: white;
    letter-spacing: 1px;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px)
    }
    
    to {
        opacity: 1;
        transform: translateY(0)
    }
}
@keyframes fadeIn {
	0% { opacity: 0; }
    100% { opacity: 1; }
}

.stream_buttons:hover {
    background-color: #E5E7EB;
}